.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'nav content';
  box-sizing: border-box;
  background-color: var(--background-secondary);
  color: var(--foreground-secondary);
}

.content {
  grid-area: content;
  background-color: var(--background-primary);
  color: var(--foreground-primary);
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--foreground-primary);
}

.btn {
  font-family: 'OpenSansBold';
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-button);
  color: var(--foreground-button);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

.btn:hover {
  border-color: var(--foreground-button);
}

.btn:focus,
.btn:focus-visible,
.btn-small:focus,
.btn-small:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-small {
  padding: 0.4em 0.8em;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--background-highlight);
  color: var(--foreground-highlight);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

.btn-small:hover {
  border-color: var(--orange-medium);
}

.chart-container {
  margin-top: 2rem;
  background-color: var(--background-tertiary);
  /* padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--background-tertiary);
  margin: 1rem 0;
}