@import "./margin.css";
@import "./padding.css";
@import "./App.css";
@import "./Navbar.css";
@import "./AuthForm.css";

/* Light Theme */
:root {
  --white: #fffffe;
  --black: #16161a;
  --green-light: #c3f0ca;
  --green-medium: #2cb67d;
  --green-dark: #425244;
  --pink-light: #FAF3E6;
  --pink-medium: #F1E5DE;
  --pink-dark: #CFC5BF;
  --purple-light: #EBE6FA;
  --purple-medium: #8965F6;
  --purple-mediumer: #6D5AA5;
  --purple-dark: #5E45A8;
  --purple-darker: #412F7A;
  --blue-light: #D6E4FF;
  --blue-medium: #4A90E2;
  --blue-dark: #1C3C7A;
  --orange-light: #FFE3C6;
  --orange-medium: #FF7F50;
  --orange-dark: #A6441D;

  --background-primary: var(--pink-light);
  --background-secondary: var(--pink-medium);
  --background-tertiary: var(--pink-dark);
  --background-button: var(--purple-dark);
  --background-highlight: var(--orange-dark);
  --foreground-primary: #33272a;
  --foreground-secondary: #594a4e;
  --foreground-tertiary: #94a1b2;
  --foreground-highlight: var(--orange-dark);
  --foreground-link: var(--purple-medium);
  --foreground-button: var(--purple-light);
  --foreground-nav: var(--purple-darker);

  /* Chart Colors */
  --chart-income: var(--green-medium);
  --chart-expense: var(--orange-medium);
  --chart-net-cash-flow: var(--blue-medium);
  --chart-forecasted-cash-flow: var(--purple-medium);
  --chart-saving: var(--blue-dark);
  --chart-investment: var(--purple-darker);
}

/* Dark Theme */
:root.dark {
  --background-primary: #33272a;
  --background-secondary: #594a4e;
  --background-tertiary: var(--pink-dark);
  --background-button: var(--purple-light);
  --background-highlight: var(--orange-light);
  --foreground-primary: var(--white);
  --foreground-secondary: var(--pink-dark);
  --foreground-tertiary: var(--green-medium);
  --foreground-highlight: var(--orange-light);
  --foreground-button: var(--purple-dark);

  /* Chart Colors */
  --chart-income: var(--green-light);
  --chart-expense: var(--orange-light);
  --chart-net-cash-flow: var(--blue-light);
  --chart-forecasted-cash-flow: var(--purple-light);
  --chart-saving: var(--blue-medium);
  --chart-investment: var(--purple-mediumer);
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("OpenSans"), url("/fonts/OpenSans/OpenSans.woff") format("woff");
}

@font-face {
  font-family: "OpenSansBold";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local("OpenSansBold"), url("/fonts/OpenSans/OpenSansBold.woff") format("woff");
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans';
  position: relative;
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

:root {
  font-family: 'OpenSans', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground-primary);
  background-color: var(--background-primary);
}

/* CONTAINER */
.container {
  width: 100%;
  margin: 0
}

/* TEXT */
[class*="text-"] {
  font-family: 'OpenSans';
}

.text-small {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.11;
}

.text-large {
  font-size: 1.22rem;
}

.text-xl {
  font-size: 1.33rem;
}

.text-bold {
  font-family: 'OpenSansBold';
}

.text-underline {
  text-decoration: underline;
}

.text-primary {
  color: var(--foreground-primary);
}

.text-secondary {
  color: var(--foreground-secondary)
}

.text-tertiary {
  color: var(--foreground-tertiary);
}

.text-highlight {
  color: var(--foreground-highlight);
}

.text-link {
  color: var(--foreground-link);
}

.text-button {
  color: var(--foreground-button);
}